<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />


</head>
<body>
    <header class="header-container">
        <a href="/"> <img src="/imagenes/logo-mercado-liebre.svg" alt="" width="200" class="logo"></a>    
    <form action="/imagenes/logo-mercado-liebre.svg" method="post" target="_blank">
        <p class="izquierda">
        <input type="search" name="busqueda"placeholder="Electrodomesticos,autos,celulares...">
        <input type="submit" value="Buscar" />
        </p>
    </form>
    
 <p class="header-container"> <i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjetas de credito</p>
    <nav class="nav-list">
        <ul class="nav-izq">
            <li><a href="#">Ofertas</a></li>
            <li> <a href="#">Tienda oficiales</a></li>
            <li> <a href="#">Vender</a></li>
            <li>  <a href="#">Ayuda</a></li>
        </ul>
        <ul class="nav-der">
            <li> <a href="register">Crear cuenta </a> <i class="far fa-id-card"></i></li> 
            
            <li><a href="login""> Ingresar</a><i class="fas fa-sign-in-alt"></i></li>
            <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
        </ul>
    </nav>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
        </div>
</header>
<main class="main"> 
    <img src="/imagenes/img-home-banner.jpg" alt="" width="110%">
    <h3 class="titulares">Basado en tu ultima visita</h3>
    <section class="sec-container">
        <article class="produc-conteiner">
            <img src="/imagenes/img-cafetera-moulinex.jpg" alt="" width="200">
            <div class="div">
                <div class="track">
                    <i class="fas fa-truck"></i>
                </div>
                <div class="div-precio-descuento">
                    <p class="precios">$6770</p>
                    <p class="desc-producto">40% OFF</p>
                </div>
                <p class="desc-prod">Cafetera Moulinex</p>
            </div>
        </article>
        <article class="produc-conteiner">
            <img src="/imagenes/img-macbook-pro-2019.jpg" alt="">
            <div class="div">
                <div class="track">
                    <i class="fas fa-truck"></i>
                </div>
                <div class="div-precio-descuento">
                    <p class="precios">$230.000</p>
                    <p class="desc-producto">30% OFF</p>
                </div>
                <p class="desc-prod">Macbook pro 2019</p>
            </div>
        </article>
            <article class="produc-conteiner">
              
                <img src="/imagenes/img-samsung-galaxy-s10.jpg" alt="">
                <div class="div">
                
                    <div class="track">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="div-precio-descuento">
                    <p class="precios">$70.500</p>
                    <p class="desc-producto">10% OFF</p>
                </div>
                <p class="desc-prod">Samsung Galaxy S10</p>
            </div>
            </article>
            <article class="produc-conteiner">
                <img  src="/imagenes/img-tv-samsung-smart.jpg" alt="">
                <div class="div">
                    <div class="track">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="div-precio-descuento">
                        <p class="precios">$23.200</p>
                        <p class="desc-producto">5% OFF</p>
                    </div>
                    <p class="desc-prod"> SmartTv Samsung 43"</p>
                </div>
            </article>
    </section>
        
        <h3 class="titulares"> Ofertas </h3>
        <section class="sec-container">
            <article class="produc-conteiner">
                <img src="/imagenes/img-cafetera-moulinex.jpg" alt="">
                <div>
                    <div class="track">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="div-precio-descuento">
                        <p class="precios">$6770</p>
                        <p class="desc-producto">40% OFF</p>
                    </div>
                    <p class="desc-prod">Cafetera Moulinex</p>
                </div>
            </article>
            
            <article class="produc-conteiner">
                <img src="/imagenes/img-samsung-galaxy-s10.jpg" alt=""">
                <div>
              
                    <div class="track">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="div-precio-descuento">
                    <p class="precios">$70.500</p>
                    <p class="desc-producto">10% OFF</p>
                </div>
                <p class="desc-prod">Sansung Galaxy S10</p>
            </div>
            </article>
            <article class="produc-conteiner">
                <img  src="/imagenes/img-tv-samsung-smart.jpg" alt="">
                <div>
                    <div class="track">
                    <i class="fas fa-truck"></i>
                </div>
                    <div class="div-precio-descuento">
                    <p class="precios">$23.200</p>
                    <p class="desc-producto" >5% OFF</p>
                    </div>
                    <P class="desc-prod" >SmartTv Samsung 43" </P>
                </div>
            </article>
            <article class="produc-conteiner">
                <img src="/imagenes/img-macbook-pro-2019.jpg" alt="">
                <div>
                    <div class="track">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="div-precio-descuento">
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% OFF</p>
                    </div>
                    <p class="desc-prod"> Macbook Pro 2019</p>
                </div>
            </article>
        </section>
</main>
<footer>
    <ul class="pie">
        <div class="a">
        <li> <strong class="icono"> </strong>
            <div class="ico"> 
                <i class="fas fa-credit-card"></i></div>
            <strong class="titulo"> Paga con tarjeta o en efectivo</strong></li>
      <p class="descripcion">Con mercado liebre Cash, tenes cuotas sin interes con tarjeta o efectivo en puntos de pago ¡Y siempre es seguro!</p>
    </div>
    <div class="a">
      <li><strong class="icono"></strong>
        <div class="ico">   
        <i class="fas fa-gift"></i>
    </div>
       <strong class="titulo">  Envios gratis desde $2500</strong></li>
        <p class="descripcion">solo por estar registrado en mercado liebre tenes envios gratis en miles de productos. Es un beneficio de Mercado puntos</p> <br>   
    </div>
    <div class="a">
        <li><strong class="icono"></strong>
          <div class="ico"> 
              <i class="fas fa-user-shield"></i>
            </div>
        <strong class="titulo">Seguridad de principio a fin</strong></li>
      <p class="descripcion">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
          porque estás siempre protegid@.</p>
        </div>
  </ul>
  <p class="srl">Copyright © 1999-2020 MercadoLiebre S.R.L.</p><br>

</footer>
</body>
</html>