<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/styles.css"
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />


</head>
<body>
    <header class="header-container">
   <a href="/"> <img src="/imagenes/logo-mercado-liebre.svg" alt="" width="200" class="logo"></a>   
    <form action="/imagenes/logo-mercado-liebre.svg" method="post" target="_blank">
        <p class="izquierda">
        <input type="search" name="busqueda"placeholder="Electrodomesticos,autos,celulares...">
        <input type="submit" value="Buscar" />
        </p>
    </form>
    
 <p class="header-container"> <i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjetas de credito</p>
    <nav class="nav-list">
        <ul class="nav-izq">
            <li><a href="#">Ofertas</a></li>
            <li> <a href="#">Tienda oficiales</a></li>
            <li> <a href="#">Vender</a></li>
            <li>  <a href="#">Ayuda</a></li>
        </ul>
        <ul class="nav-der">
            <li> <a href="register">Crear cuenta </a> <i class="far fa-id-card"></i></li> 
            
            <li><a href="#"> Ingresar</a><i class="fas fa-sign-in-alt"></i></li>
            <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
        </ul>
    </nav>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
        </div>
</header>
<main class="main">
    <form class="log" action="/login.html" method="get">
       <div class="campo">
        <label for="login"> </label>
        <input class="barra" type="text" name="Nombre de Usuario" placeholder="Nombre de Usuario" id="login"><br>
    </div>
    <div class="campo">
        <label for="login2"></label>
        <input class="barra" type="password" name="password" placeholder="Elige tu contraseña" id="login2"><br>
    </div>
        <div class="campo">
        <button class="button" type="submit">Enviar</button>
    </div>
    </form>
    </main>
    <footer>
        <ul class="pie">
            <div class="a">
            <li> <strong class="icono"> </strong>
                <div class="ico"> 
                    <i class="fas fa-credit-card"></i></div>
                <strong class="titulo"> Paga con tarjeta o en efectivo</strong></li>
          <p class="descripcion">Con mercado liebre Cash, tenes cuotas sin interes con tarjeta o efectivo en puntos de pago ¡Y siempre es seguro!</p>
        </div>
        <div class="a">
          <li><strong class="icono"></strong>
            <div class="ico">   
            <i class="fas fa-gift"></i>
        </div>
           <strong class="titulo">  Envios gratis desde $2500</strong></li>
            <p class="descripcion">solo por estar registrado en mercado liebre tenes envios gratis en miles de productos. Es un beneficio de Mercado puntos</p> <br>   
        </div>
        <div class="a">
            <li><strong class="icono"></strong>
              <div class="ico"> 
                  <i class="fas fa-user-shield"></i>
                </div>
            <strong class="titulo">Seguridad de principio a fin</strong></li>
          <p class="descripcion">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
              porque estás siempre protegid@.</p>
            </div>

      </ul>
    <p class="srl">Copyright © 1999-2020 MercadoLiebre S.R.L.</p><br>
    </footer>
    </body>
    </html>