@import url("normalize.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Estonia&family=Roboto:wght@100;300&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #f2f2f2;
}
.main {
  margin-bottom: 10px;
  width: 100%;
  margin: auto;
}
.nyp {
  justify-content: center;
  display: flex;
  margin-top: 25px;
}
.user {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 25px;
}
.campo {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}
.titulo {
  display: flex;
  justify-content: center;
}
.campo1 {
  display: flex;
  align-items: center;
  margin-top: 10px;
  flex-direction: column;
}
